.create-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: 100vh;
  padding: 24px;
}

.create-container::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background:
    radial-gradient(
      circle at top right,
      rgba(139, 92, 246, 0.35),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(139, 92, 246, 0.2),
      transparent 40%
    );

  filter: blur(30px);
}

.create-title {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 8px;

  & p {
    opacity: 0.7;
  }
}

.inputs-row {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.inputs-row > * {
  flex: 1;
}

.create-selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  & p {
    font-size: 14px;
  }
}

.create-test-case-card-inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.create-test-case-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px dashed #30363d;
  border-radius: 12px;
  gap: 16px;
}

.create-categories {
  background-color: #000;
  border: 1px solid #30363d;
  padding: 12px;
  display: flex;
  gap: 12px;

  & p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    opacity: 1;
  }
}

.create-button-row {
  display: flex;
  gap: 16px;
  padding-bottom: 48px;
}

.create-categories-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.create-categories-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  & p {
    font-size: 14px;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #9333ea, #2563eb);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px;
  }

  & button:hover {
    opacity: 0.7;
  }

  & img {
    height: 20px;
    width: 20px;
  }
}
