.create-container::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background:
    radial-gradient(
      circle at top right,
      rgba(139, 92, 246, 0.35),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(139, 92, 246, 0.2),
      transparent 40%
    );

  filter: blur(30px);
}
