.home-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 32px;
  background: #0f0f17;
  border-top: 1px solid #374151;
  border-bottom: 1px solid #374151;
}

.header-title {
  color: #fff;
  font-size: 16px;

  & span {
    background: linear-gradient(to right, #7d8bff, #3b82f6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
