# --- Application ---
PORT=
NODE_ENV=
ALLOWED_ORIGINS=
THROTTLE_TTL=
THROTTLE_LIMIT=

# --- Database ---
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# --- Redis ---
REDIS_HOST=
REDIS_PORT=

# --- Authentication ---
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION_TIME=
JWT_REFRESH_EXPIRATION_TIME=
PASSWORD_RESET_SECRET=
MAX_RESET_PASSWORD_TRIES=

# --- Mailer ---
RESEND_API_KEY=
MAIL_FROM=

# --- Security ---
BCRYPT_SALT=

# --- Microservice ---
LLM_API_URL=
INTERNAL_API_KEY=

# --- Seeds ---
RUN_SEEDS=
