.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background: #8b5cf6;
  border-radius: 8px;

  & img {
    height: 18px;
    width: 18px;
  }
}
