.category-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  font-size: 12px;
  background: rgba(17, 24, 39, 0.4);
  border: 1px solid #30363d;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.1s ease-in;
}

.category-badge.marked {
  background-color: #8b5cf6;
  border: 1px solid #8b5cf6;
  font-weight: bold;
}

.category-badge-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  & img {
    height: 16px;
    width: 16px;
  }
}

.category-badge.readonly {
  cursor: auto;
  & p {
    color: #fff;
  }
}
