.home-container::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  background:
    radial-gradient(
      circle at top right,
      rgba(139, 92, 246, 0.35),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(139, 92, 246, 0.2),
      transparent 40%
    );

  filter: blur(30px);
}

.home-problem-card-title {
  display: grid;
  grid-template-columns: 48px minmax(260px, 1fr) 220px 120px;
  align-items: center;
  column-gap: 28px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #30363d;
  padding: 12px 20px;
  border-radius: 12px;
  margin-bottom: 12px;

  & p {
    font-size: 14px;
    color: #fff;
    opacity: 0.5;
  }
}

.home-problem-card-title p {
  margin: 0;
}

.home-problem-card-title p:nth-child(1) {
  justify-self: center;
}

.home-problem-card-title p:nth-child(2) {
  justify-self: start;
}

.home-problem-card-title p:nth-child(3) {
  justify-self: center;
}
.home-problem-card-title p:nth-child(4) {
  justify-self: start;
}
