.submission-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 24px;
  min-height: 100vh;
  justify-content: center;
  max-width: 1980px;
  margin: 0 auto;
  padding: 64px;
}

.submission-container::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background:
    radial-gradient(
      circle at top right,
      rgba(139, 92, 246, 0.12),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(139, 92, 246, 0.1),
      transparent 40%
    );

  filter: blur(30px);
}

.submission-editor-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  background: #161b22;
  border: 1px solid #30363d;
  padding: 24px;
  border-radius: 12px;
}

.submission-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #161b22;
  border: 1px solid #30363d;
  color: #fff;
  padding: 16px 32px;
  border-radius: 12px;
  gap: 16px;
}

.submission-card.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submission-card-row {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  & h3 {
    font-size: 18px;
    opacity: 0.8;
  }

  & p {
    opacity: 0.8;
  }
}

.submission-container-sides {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.submission-examples {
  display: flex;
  justify-content: space-around;
  & p {
    font-size: 14px;
    opacity: 0.8;
  }
}

.submission-example {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submission-example-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  padding: 12px 32px;
  background: #000;
  border: 1px solid #30363d;

  & p {
    color: #4ade80;
  }
}

.submission-card-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  & p {
    font-size: 20px;
    color: #fff;
  }
}

.submission-card-points-label {
  background: linear-gradient(to right, #7d8bff, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
